@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */

/* ---------------------------------Special paddings/margins/text */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Merriweather, sans-serif;
    text-decoration: none;
    list-style-type: none;
} 

html {
    scroll-behavior: smooth;
}

body {
    min-height: 600px;
    background-color: #fefefe;
}  

/* ----- Fixed Navbar Section ----- */

/* outerframe {
    width: 100%;
    max-height: 1000vh;
    border: 15px;
    border-style: solid;
    border-bottom: none;
    border-width: 33px;
    border-color: #fefefe; 
    border-color: #FFEAE6;  
} */

.bg-color {
    background: #FFEAE6;
} 

.navbar {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.containerNav {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px;
    padding: 0px;   
}

.navHeading  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; 
    width: 100%;
    margin-right: 10px;
    padding-right: 20px;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    list-style-type: none;
}

h3.title, 
h4.name {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

.navHeading .title  {
    font-family: Merriweather, sans-serif;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 1px;
    color: #000;
    margin-bottom: 3px;
    text-decoration: none;
    list-style-type: none; 
}

.navHeading .name {
    font-family: Merriweather, sans-serif;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 1px;
    color: #000;
    padding-bottom: 0;
    margin-bottom: 5px;
    text-decoration: none;
    list-style-type: none;
}

h5.phone  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-top: 2.5rem;
}

h5.appoint  {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;  
    margin-bottom: 1.5rem;
}

.navbar-brand {
    font-family: Merriweather, sans-serif;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 1px;
    color: #000;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.navbar-brand img {
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    height: 200px;
    width: 200px;
}

ul.navbar-nav {
    width: 90%;
    padding-left: 180px;
}

.nav-item a {
    font-family: 'Courgette', cursive;
    font-size: 16px;
    letter-spacing: .5px;
    color: #000;
    align-items: center; 
    justify-content: space-between;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

.navbar .nav-item a:hover {
    background-color: #232949; 
    border-radius: 35%;
    width: 100%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    color: #fefefe;
}

.navbar-toggler-icon {
    width: 40px;
    justify-self: center;
    align-self: center;
    padding-top: 20px;
} 

/* ----- Media Queries Navbar Section ----- */

@media (min-width: 768px) {
    .sidebar{
        background-color: rgba(255, 234, 228, 0.9);
        backdrop-filter: blur(10px);
    }

}

@media (max-width: 991px) {
    .containerNav {
        width: 100%; 
    }
    
    .navbar {
        width: 96%;
        justify-content: center;
        align-items: center;
        margin-left: px;
        margin-top: 20px;
    }

    .navbar-brand {
        display: none;
    } 

    .navHeading  {
        margin-right: px;
        padding-right: px; 
    }

    .sidebar{
        background-color: rgba(255, 234, 228, 0.9);
        backdrop-filter: blur(10px); 
    } 

}

/* 
@media (max-width: 600px) {
    .sidebar{
        background-color: rgba(255, 234, 228, 1);
        backdrop-filter: blur(10px); 
    }

    h3.title, 
    h4.name {
        align-items: center;
        justify-content: center;
        text-decoration: none;
        list-style-type: none;
        text-align: center;
    } 
    
    .navHeading .title {
        font-size: 20px;
        font-weight: 800;
        padding-top: 10px;
        padding-bottom: 5px;
    } 

    .navHeading .name {
        font-size: 18px;
        padding-bottom: 10px;  
    } 
    
    h5.phone {
        font-size: 18px;
        font-weight: 600; 
    } 

    h5.appoint {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 4px;
    } 

} */

@media (max-width: 480px) {
    .navbar {
        width: 90%;
        margin-top: 5px;
        margin-left: 5px;
    }
    
    .navbar-brand {
        display: none;
    }
    
    .navHeading  {
        flex-direction: column;
        align-self: center;
        justify-self: center;
    }

    .navHeading .title {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 12px;
    } 

    .navHeading .name {
        font-size: 20px;
        padding-bottom: 10px; 
    } 

    h5.phone  {
        font-size: 17px;
        font-weight: 600;
        margin-left: 39px;
        margin-bottom: 8px;
        margin-top: 10px;
    }
    
    h5.appoint {
        font-weight: 600;
        margin-left: 52px;
        font-size: 18px;
        margin-top: 10px;
    } 

    .navbar-brand img {
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 200px;
        margin-left: 24px;
    }

    .sidebar {
        background-color: rgba(255, 234, 228, 1);
        backdrop-filter: blur(10px);
    }

}

/* ----- Hero Quote Section ----- */

.quote-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.quote-con {
    background: linear-gradient(90deg, rgb(255, 234, 228) 40%, rgb(250, 248, 246) 40%);
}

.quote-con {
    width: 100%;
    justify-content: center;
    align-items: center;  
    border-radius: 25px; 
}

.cont-headingQuote {
    display: flex;
    width: 90%; 
    padding-top: 320px; 
    margin-bottom: 50px;
    padding-bottom: 50px;
    margin-left: 120px;  
    align-items: flex-start;
    justify-content: flex-start;
}

.heading-quote {
    box-shadow: 1.5rem 1.5rem 1rem rgba(0, 0, 0, .9);
}

.quoteCont {
    display: flex;
    width: 80%;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-content: center;  
    padding-top: 0px; 
}

.con_quote {
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.heading-quote {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #232949;
    justify-content: center;
    align-content: center;
    text-align: center; 
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.heading-quote h3 {
    text-align: center;
    color: #000;
    color: #fefefe;
    font-family: Merriweather, sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    padding-top: 20px; 
    padding-bottom: 20px;
}

.paragraph-quote {
    color:#000;
    color: #fefefe;
    font-family: Merriweather, sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2rem;
    padding-top: 10px;
    padding-bottom: 50px
} 

.quote_image img {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 1.5rem 1.5rem 1rem rgba(0, 0, 0, .9);
    border-radius: 25px; 
    margin-left: 30px; 
    margin-top: 10px;
    margin-bottom: 20px; 
}

/* -----  Media Queries Hero Quote Section ----- */

@media (max-width: 991px) {
    .quote-container {
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;
    }

    .quote-con {
        width: 100%;
        margin-left: -8px; 
        margin-right: 12px; 
        min-height: 140vh;
    }

    .cont-headingQuote {
        width: 100%;
        padding-top: 200px;
    }

    .quoteCont {
        flex-direction: column; 
        width: 80%;
        margin-top: 160px;
    }

    .con_quote {
        padding: 30px;
    }
    
    .quote_image img {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 50px; 
        margin-left: 220px; 
    }

}

@media (max-width: 480px) {
    .quote-container {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        padding-bottom: 120px;
    }

    .quote-con {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fefefe;
        min-height: 140vh;
        width: 100%;
    }

    .con_quote {
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .heading-quote {
        width: 100%;
        margin-left: 18px;
    }

    .cont-headingQuote {
        width: 100%;
        vertical-align: middle;
        padding-top: 350px;  
        padding-bottom: 0px;
        margin-right: 0px;
        margin-left: 25px;
    }

    .quote_image img {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 30px; 
        margin-left: 60px;
    }

}

/* ----- About Section ----- */

.container-about {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;  
    background-color: #FFEAE6;
    border-radius: 25px;
}

.about-frame {
    width: 100%;
    align-items: center;
    justify-content: center; 
    margin: 20px 90px 30px 90px;
    min-height: 100vh;
    border-radius: 25px;
    border-style: solid;
    border-width: 33px;
    border-color: #232949; 
    background-color: #fefefe; 
}

.about {
    min-height: 100vh;
    margin-left: 20px; 
    margin-right: -2px;  
    padding-bottom: 1rem;
    margin-top: 3rem;
    border-radius: 25px;
    padding-top: 30px; 
}

h2.aboutHead {
    color: #000;
    text-align: center;
    font-family: Merriweather, sans-serif;
    font-size: 34px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    padding-top: 20px;
}

.image_about {
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding-left: 6rem;
    padding-top: 7.5rem;
    z-index: 1000;
}

.image_about img {
    border-radius: 25px;
    box-shadow: 1.5rem 1.5rem 1rem rgba(0, 0, 0, .9); 
}

.info {
    padding: 1rem 1rem 1rem 15rem;
    margin-top: 1rem;  
}

.info h4 {
    color: #000;
    font-family: Merriweather, sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.35rem; 
}

.info p {
    color: #000;
    font-size: 16px; 
    font-weight: 400;
    margin: 2rem 0; 
}

/* ----- Media Queries Quote Section ----- */

@media (max-width: 991px) {
    .container-about {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    .aboutHead {
        align-self: center;
        justify-self: center;
        padding-left: 45px;
    }

    .about-frame {
        width: 100%;
        min-height: 100vh;
    }

    .image_about {
        align-items: center;
        justify-content: center;
        align-content: center;
        padding-left: 195px; 
        padding-top: 2rem;
        padding-bottom: 25rem;
    }
    
    .info {
        width: 95%;
        padding: 8rem 1rem 1rem 3rem;
        margin-top: 1rem;  
        line-height: 1.55rem;
    } 

}

@media (max-width: 480px) {
    .about-frame {
        width: 90%;
        border-width: 25px;
        border-color: #232949;   
    }

    .aboutHead {
        align-self: center;
        justify-self: center;
        padding-left: 45px;
    }

    .about {
        width: 100%;
        min-height: 100vh;
        margin-left: 30px; 
        padding-bottom: 1rem;
        margin-top: 5rem;
        border-radius: 25px;
    }
    
    .image_about {
        align-items: center;
        justify-content: center;
        padding: 2rem 2.5rem 0 2.5rem;
        z-index: 1000;
    }
    
    .image_about img {
        width: 275px;
        height: 300px;
        align-items: center;
        justify-content: center; 
    }

    .info {
        padding: .5rem 2rem 0 4rem;
        width: 100%; 
    }

}

/* ---------------------------------Why Choose Dr Janique Section */

.bg-color-why {
    background: #fff;  
}

.choose-cont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; 
    margin-top: 0rem; 
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.why-heading h2 {
    color: #FFE4E1;
    color: #000;
    text-align: center;
    font-family: Merriweather, sans-serif;
    font-size: 34px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    padding: 20px 0 0;
}

.why-paragraph p {
    line-height: 2rem; 
    padding-top: 10px;
    font-family: Merriweather, sans-serif;
    font-size: 18px; 
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
    color: #FFE4E1;
    color: #000;
}

.why-paragraph h5 {
    line-height: 2rem;
    padding-top: 10px;
    font-family:'Merriweather', serif;
    font-size: 26px; 
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: #FFE4E1;
    color: #000;
   
} 

/* ---------------------------------Why Choose Dr Janique Reason Section */

.bg-color-why {
    background: #fff;
}

.whyChoose-cont {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    gap: 15px;
}

.card-whyInfo {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-whyInfo .imgWhy {
    position: relative;
    width: 100%;
    height: 240px;
    border-radius: 15px;
    background-size: cover
}

.card-whyInfo .imgWhy::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}

.card-whyInfo .imgWhy::after {
    content: "";
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}

.card-whyInfo .contentWhy {
    position: relative;
    width: 100%;
    height: 150px;
    background: #232949;
    border-radius: 15px;
    border-top-left-radius: 0;
    padding: 0 30px;  
}

.card-whyInfo .contentWhy ul {
    color: #fff;
    font-size: 14px;
    line-height: 1.25rem;
    margin-top: 15px;
}

.card-whyInfo .contentWhy .why-title {
    position: absolute;
    top: -80px;
    left: 0;
    height: 80px;
    width: 50%;
    background: #232949;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top-right-radius: 25px;  
}

.card-whyInfo .contentWhy .why-title::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0 #fff;
}

.card-whyInfo .contentWhy .why-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #232949;
}

.card-whyInfo .contentWhy .why-title a {
    position: relative;
    background: #fff;
    padding: 10px 15px ;
    margin: 15px 15px;
    display: block;
    border-radius: 7px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    font-family:'Merriweather', serif;
}


/* ------------------------------Chiropractics How Quote Section  -*/

.contain-condit {
    display: flex;
    flex-wrap: nowrap;
}

.chiroQuote_con {
    position: relative;
    width: 100%;
    padding: 40px 100px; 
}

.chiroQuote_con .quote_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerQuote {
    box-sizing: border-box;
    font-family: Merriweather, sans-serif;
}

.chiroQuote_con {
    background: linear-gradient(90deg, #FFEAE6 40%, #232949 40%);
    background: linear-gradient(90deg, #FFEAE6 20%, #232949 60%);
    background: linear-gradient(90deg, #FFEAE6 30%, #232949 50%);
    border-radius: 25px;
}

.headerQuote {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    padding-right: 120px;
    margin-bottom: 30px;
}

.headerQuote .quote_title {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.headerQuote .quote_title h2 {
    color: #000;
    font-family: Merriweather, sans-serif;
    font-size: 37px;
    font-weight: 600;
    font-style: italic;
    word-spacing: 2.5px;
    letter-spacing: 2px;
    padding: 20px 0 20px 0; 
}

.headerQuote .quote_title h2 span {
    color: #fff;
    font-family: Merriweather, sans-serif;
    font-size: 37px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    padding: 20px 0 20px 0; 
}

.quoteCont_two {
    padding: 40px;
    background: #fefefe;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
    border-radius: 25px;
    margin-left: 50px;
}

.quoteCont2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 20px; 
    margin-right: 250px; 
}

.quoteCont_two h3 {
    text-align: center;
    color:#232949;
    font-family: Merriweather, sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin-bottom: 10px;
}

.quoteCont_two p {
    color:#232949;
    font-family: Merriweather, sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2rem;
    padding-top: 10px;
    padding-bottom: 10px
}


/* -------------- Media Queries----- */

@media (max-width: 991px) {
    .headerQuote .quote_title {
        display: flex;
        flex-wrap: wrap;
        margin-left: 300px;
        justify-content: center;
        align-items: center;  
    }

    .headerQuote .quote_title h2 {
        color: #fff; 
        font-family: Merriweather, sans-serif;
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
        word-spacing: 2.5px;
        letter-spacing: 2px;
        padding: 20px 0 20px 0; 
    }
    
    .headerQuote .quote_title h2 span {
        color: #fff; 
        font-family: Merriweather, sans-serif;
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
        letter-spacing: 2px;
        padding: 20px 0 20px 0; 
    }
    
}

@media (max-width: 480px) {
    .headerQuote .quote_title {
        display: flex;
        margin-left: 150px;
        justify-content: center;
        align-items: center;   
    }

    .headerQuote .quote_title h2 {
        color: #fff; 
        font-family: Merriweather, sans-serif;
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
        word-spacing: 2.5px;
        letter-spacing: 2px;
        padding: 20px 0 20px 0;  
    }
    
    .headerQuote .quote_title h2 span {
        color: #fff; 
        font-family: Merriweather, sans-serif;
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
        letter-spacing: 2px;
        padding: 20px 0 20px 0; 
    }

    .headerQuote {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* align-content: flex-end;
        justify-content: flex-end; */
        width: 100%;
        padding-right: 0px;
        margin-bottom: 30px;
    }

    .chiroQuote_con {
        width: 100%;
    }

    .quoteCont2 {
        display: flex;
        flex-direction: column;      
        margin-top: 20px; 
        margin-right: 60px;
        margin-left: -200px;
        width: 100%;
    }
    
    .quoteCont_two {
        justify-content: center;
        align-items: center;
        margin-left: 75px;
        width: 160%;
    }

    .quoteCont_two h3 {
        margin-top: 20px;
    }

    .quoteCont_two p {
        padding: 10px ;
    }

}

/* ------------------------------Treatment Cards Section  */

/* ---------Treatment Card 1  */

.cont-grid-treat {
    /* background-color: #232949;
    background-color: #fefefe;
    background-color: #232949; */
    height: fit-content;
    width: 100%;
    /* display: grid; */
    place-items: center center;
    /* grid-gap: 40px; */
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.cont-grid-treat {
    background: linear-gradient(90deg, #FFEAE6 40%, #232949 40%);
    background: linear-gradient(90deg, #FFEAE6 20%, #232949 60%);
    background: linear-gradient(90deg, #FFEAE6 30%, #232949 50%);
    border-radius: 25px; 
}


.grid-container-treat {
    display: grid;
    max-width: 100%;
    grid-gap: 50px;  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 30px auto 0 auto;
    border-radius: 20px;
}    
  
.treat-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 8px; 
    padding-bottom: 5px; 
    border-radius: 20px; 
}  

.treat-card {
    background-color: #1c1b29;
    background-color: #232949;
    background-color: #FFEAE6; 
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.container-treat {
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);  
}

.card-treat img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}  

.card-treat img {
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 275px;
    object-fit: cover; 
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 1.8);
    border-top-right-radius: 5%;
    border-bottom-left-radius: 2%;
    margin-left: 5px; 
    margin-top: 1px;
    margin-bottom: 20px; 
}
 
.container-treat:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;  
    opacity: .2;
} 

/* .treatment-card-3>.container-treat:after {
    background-image: linear-gradient( 135deg, #0100ec, #fb36f4);
}   */

/* .treatment-card-3>.container-treat:after {
    background-image: linear-gradient( 135deg, #FFEAE6, #eb82e8);
}   */


/* .treatment-card-2>.container-treat:after {
    background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}   */

.treatment-card-1>.container-treat:after {
    background-image: linear-gradient( 135deg, #ffab1d, #e15c34);
} 

.treatment-card-2>.container-treat:after {
    background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}  

.treatment-card-3>.container-treat:after {
    background-image: linear-gradient( 135deg, #0100ec, #fb36f4);
} 

.treatment-card-4>.container-treat:after {
    background-image: linear-gradient( 135deg, #ffab1d, #e15c34);
} 

.treatment-card-5>.container-treat:after {
    background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}  

.treatment-card-6>.container-treat:after {
    background-image: linear-gradient( 135deg, #0100ec, #fb36f4);
} 

.treatment-card-7>.container-treat:after {
    background-image: linear-gradient( 135deg, #ffab1d, #e15c34);
} 

.treatment-card-8>.container-treat:after {
    background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}  

.treatment-card-9>.container-treat:after {
    background-image: linear-gradient( 135deg, #0100ec, #fb36f4);
} 

.button5 {
    background-color: #1c1b29;
    background-color: #FFEAE6; 
    border-radius: 20px,20px 0 0;
    border: none;
} 

 .button5 a {
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    margin: 4px 2px; 
    cursor: pointer;
}  

.details h3 {
    color: #fefefe;
    color: #232949;
    /* font-family: 'Merriweather', serif;  */
    font-family: 'Lato', sans-serif; 
    font-weight: 800;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
    margin: 10px 0 15px 0;
}  

.modal-content {
    /* margin-left: 50%; */
    margin-top: 20px;
}

.content-why-treat p {
    margin-top: 2px;
    margin-bottom: 4px;
    text-align: left;
    line-height: 1.5rem; 
    font-size: 14px;
    font-family: 'Lato', sans-serif; 
    font-weight: 600;
    color: #232949;
 }


/* -------------- Media Queries----- */

/* @media (max-width: 991px) */

@media (max-width: 480px) {
 .grid-container-treat {
    display: grid;
    max-width: 100%;
    grid-gap: 40px;  
    grid-template-columns: repeat(auto-fit, minmax(1fr 1fr));
    margin: 30px auto 0 auto;
    border-radius: 20px;
}    
  
.treat-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr 1fr));
    padding-top: 8px; 
    padding-bottom: 5px; 
    border-radius: 20px; 
} 

} 

@media (max-width: 480px) {
 .grid-container-treat {
    /* display: grid; */
    max-width: 50%;
    grid-gap: 0px;  
    /* grid-template-columns: repeat(auto-fit, minmax(1fr 1fr)); */
    margin: 30px auto 50px auto;
    /* grid-template-columns: 1fr; */
    border-radius: 20px;
}    
  
.treat-card {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(1fr 1fr)); */
    padding-top: 8px; 
    /* grid-template-columns: 1fr; */
    padding-bottom: 5px; 
    border-radius: 20px; 
} 

} 