@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* --------------------------------- Topnav header Button Footer Colors */

.bg-color-topnav {
    background-color:#FCE9DF ;
}
  
.bg-color-header {
    background-color: #D9C8B7;
}

.ui-menu-color-home {
    background-color: #EDE6DE;
}

.ui-menu-color-about {
    background-color: #DBD4CC;
}

.ui-menu-color-chiropractic {
    background-color: #EDE6DE;
}

.ui-menu-color-treatments {
    background-color: #DBD4CC;
}

.ui-menu-color-conditions {
    background-color: #EDE6DE;
}

.ui-menu-color-contact {
    background-color:#DBD4CC;
}


.ui-menu-color-form {
    background-color:#F4ECE6; 
}

.ui-menu-color-button {
    background-color:#854A14;
} 

.bg-color-footer {
    background-color:#D1C7B8;
} 

/* .bg-color-modal {
    background-color: #FCE9DF;
} */
/* --------------------------------- Title About Colors */

.bg-color-name-title {
    background-color:#F4ECE6;
}

#about {
    background-color: #fefefe;

}

#circle-container {
    border-color: #4A3729;

}

/* --------------------------------- Appoint Form Contact Tab Colors */

.bg-color-contact-heading-container {
    background-color: #EDE6DE;  
    
 } 

 
 .bg-color-appoint {
    background-color: #f3ECE4;
 }

 
/* ---------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;

}

.footer-general-sub {
    padding-top: 5px; 
    font-family: Merriweather, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #854A14; 
   
}

.row-table {
    display: table;
}


/* ---------------------------------TopNav */

.topnavbar {
    align-items: left;
    align-content: center;
 
}   

.topnav-left a {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    align-items: left;
    color: #854A14;
    text-decoration: none;
    
}   

.topnav-right a {
    float: right;
    padding-right: 10px;
    padding-left: 15px;
    align-items: right;
    color: #854A14;  
    
}   

.topnav-left i,
.topnav-right i {
    color: #854A14; 

} 
.topnav-left span {
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;

}

.topnav-right span {
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;

}


button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #DBD4CC;
    background-color: #854A14;
    border: none;
   
}



/* ---------------------------------Heading */

.header {
    margin: 0;

}

.heading {
    padding-top: 0;
    text-align: center;
    font-style: italic;
}

.main-logo {
    background: url("../images/unnamed.png");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 350px; 
    width: 350px;
    margin-top: 1%;
    margin-bottom: 1%;
    min-height: 120px;    
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; 
}



/* ---------------------------------Button */

.button[type="submit"] {
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 20px;
    color: #DBD4CC;
    background-color: #854A14;
    border: none;
}  


/* ---------------------------------Name title */
.name {
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-top: 25px;
    text-align: center;
    color: #854A14;

}

.title {
    font-family: Merriweather, sans-serif;;
    font-weight: 600;
    font-size: 65px;
    margin-top: 50px;
    margin-bottom: 90px;
    color: #854A14;
    text-align: center;

}

.list-inline-item:not(:last-child) {
    margin-bottom: 2px;
    
} 

.menucontainer {
    font-size: 0;
    padding-left: 2px;
    padding-right: 2px;
 
}

#nav {
    margin: 2%;
    align-items: right;
}

#nav li {
    font-size: 12px;
    padding: 5px;
    margin: 0;
}

.menuitem {
  height: 120px;
  text-align: center;
  padding: 5px;

}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #854A14;
    height: 120px;
}

.menuitem a i {
    padding-top: 28px;
    display: contents;
    color: #854A14;
    font-size: 26px;
    line-height: 2;
}

.menuitem span {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;

}

.btn-default span {
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;

} 

.quote {
    text-align: center;
    font-family: Merriweather, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #854A14;

}

.quote p {
    text-align: center;
    font-family: Merriweather, sans-serif;
    font-size: 12px;
    font-weight: 400;;
    color: #854A14;

}


/* ---------------------------------Hover.css */

.hvr-sweep-to-bottom::before {
background:rgb(157, 103, 21, 0.2);
height: 120px;
}

/* ---------------------------------Hover.css */

/* .hvr-sweep-to-bottom::before {
    background:rgb(157, 103, 21, 0.2);
    height: 90px;
    } */

/* ---------------------------------Footer */

.footer {
    color: #854A14;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 2px;
    padding-top: 2px;
}

.footer-logo {
    background: url("../images/named1.png");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 350px;
    width: 350px; 
    margin-top: 1%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; 
}

.section-heading {
    font-family: Merriweather, sans-serif;
    font-style: italic;
    text-align: center;
    padding-top: 15px;

}

.footer-p {
    font-size: small;
    
}

.footer-info-item {
    margin-bottom: 10px;
    margin-left: 30px;
    display: inline;
    clear: both;
    font-family: Merriweather, sans-serif;
    font-size: 12px;
    font-weight: 200;
    text-align: left;
    color: #854A14;
    padding: 10px;

}

.footer-info-item {
    width: 100%;
    margin-right: 2px;
    padding-top: 2px;
    vertical-align: top;

} 

.footer-info-item p {
    font-weight: 300;
    margin: 0;

}

.footer-info-item-heading {
    font-family: Merriweather, sans-serif;
    font-weight: 200;
    text-align: left;

}

.list-inline {
    text-align: left;    

}

.download i,
.social-links {
    padding-bottom: 15px;

}

.download i {
    width: 32px;
    height: 32px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #F4ECE6;
    background: #D1C7B8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.forms-pdf a i,
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #854A14;
    background: #F4ECE6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.download i,
.forms-pdf a i,
.social-links li a i:hover {
    background: #C18963;

}


/* ---------------------------------Contact Form */

.contact-heading-container {
    background-size: cover;
    text-align: center;
    margin-left: 40px;
 
} 

.contact-heading-container {
    font-family: Merriweather, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #854A14;
   
}

.contact-heading-container h2, h3,
.contact-heading-container h4 {
    margin-top: 0;
    text-align: center;
    align-content: space-between;   
} 

.contact-heading-container h1 {
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #4A3729;
    text-align: right;
    
}

.contact-heading-container h3 {
    font-family: Merriweather, sans-serif;
    font-weight: 400;
    font-size: 28px;
    font-style: italic;
    color: #4A3729;

}

.contact-heading-container h4 {
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #4A3729;

}

.image-container {
margin: 0;

}

#care {
    background: url("../images/care.jpg") no-repeat center center;
    height: 120vh;
    width: cover;
    overflow: hidden;
    opacity: 0.5;

}



.menucontainer-contact {
    font-size: 0;
    padding-left: 0;
    padding-right: 2px;
    margin-left: 35%;
    margin-top: 5px;
 
}

#nav-menucontainer-contact {
    align-content: center;

}

.list-inline-item {
    margin: 5%;
    align-items: right;

}

#list-inline-item ul {
    font-size: 12px;
    padding: 12px;
    margin-top: 0;
    
}

#list-inline-item li {
    font-size: 12px;
    padding: 12px;
    margin: 0;
    
} 

.contact-menuitem {
    height: 90px;
    text-align: center;
    align-content: left;
    padding: 5px;
  
  }
  
  .contact-menuitem a {
      width: 100%;
      text-decoration: none;
      color: #854A14;
      height: 80px;
  }
  
  
  .contact-menuitem span {
      display: right;
      width: 100%;
      padding-top: 5px;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
  
  }
  


/*---------------------------------Hover.css Contact Page */

.hvr-sweep-to-bottom::before {
    background:rgb(157, 103, 21, 0.2);
    height: 80px;
    } 


    /*---------------------------------Submit Appoint Form */  

.submit-form {
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 5%;
    height: 100%;
    width: 60%;
  

}

.address-menuitem p {
    margin: 0;
    font-family: Lato, sans-serif;
    font-weight: 500;
    color: #4A3729;

}

.container-hours {
    padding-top: 35%;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;
    height: 60%;
    
}



button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #DBD4CC;
    border-color: #4A3729;
    background-color: rgba(98, 68, 4, 0.906); 
 
}   




/* ---------------------------------Media Queries */

@media(min-width: 992px) {
    .centre-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
    
} 

/* ---------------------------------About Section */

#about {
    height: 750px;
    width: 100%;
    padding-left: 20px;
  
}

#about h1 {
    font-size: 50px;
    font-family: "Lato sans-serif";
    text-align: center;
    padding: 10px 0;
    color: #4A3729; 

}

#left-about {
    padding-top: 50px;
    width: 23%;
    float: left;
}

#right-about {
    padding-top: 40px;
    width: 23%;
    float: right;
  }

#center-about {
    width: 50%;
    margin: 0 auto;
    
  }  


.left-about-heading {
    float: right;
    width: 90%;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
    
}

.left-about-heading h2 {
    text-align: left;
    color: #4A3729; 

}

.left-about-heading p {
    text-align: left;
    color: #854A14; 

}

.right-about-heading {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;

}

.right-about-heading h2 {
    text-align: right;
    color: #4A3729; 

}

.right-about-heading p {
    text-align: right;
    color: #854A14; 

}
  
#circle-container {
    width: 620px;
    height: 620px;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    margin: 0 auto; 

} 

#circle-cover-bg {
    background: url("../images/drjani.jpg") no-repeat center center;
    height: 100%;
    width: 100%;
    border-radius: 50%;

}


@media screen and (max-width: 1393px) {
    #about {
        width: 65%;
        height: 1200px;
        margin: 0 auto;

    }
    

#intro {
    padding: 30px 0;
    margin-top: 0;

}
    
#left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;

}

.left-about-heading, 
.right-about-heading h2 {
    width: inherit;
    
} 

.left-about-heading, .right-about-heading p {
    width: 100%;
    float: left;
    padding: 0;

}

#centre-about { 
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}

#circle-container {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}

#circle-container-bg {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

} 

}

/* ---------------------------------Chiropractics */

.container-chiro {
    margin: 0;
    padding: 0;
   
}
 

.adjust-cover-bg {  
    size: cover; 
    width: 100%;
    
} 


.container-chiro {
    size: cover;
    height: 120vh;
    width: cover;  

}  


#adjustment {
background: url("../images/adjustment.jpg");
background-size: cover; 
background-repeat: no-repeat;
height: 100%; 
width: 100%;

}

 
.container-chiro h4 {
    text-align: center;
    font-size: 28px;
    font-family: Merriweather, sans-serif;
    font-weight: 400;
    color: #4A3729;

 }


 .container-chiro h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    color: #854A14;

}