@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* --------------------------------- Topnav header Button Footer Colors */

.bg-color-topnav {
    background-color: #D9C8B7;
}

.bg-color-header {
    background-color: #FCE9DF;
}

/* .ui-menu-color-home {
    background-color: #EDE6DE;
}

.ui-menu-color-whydrj {
    background-color: #DBD4CC;
}

.ui-menu-color-treatments {
    background-color: #EDE6DE;
}

.ui-menu-color-chiropractor btn {
    background-color: #DBD4CC;
}

.ui-menu-color-first-visit {
    background-color: #EDE6DE;
}

.ui-menu-color-condiions {
    background-color:#DBD4CC;
}
.ui-menu-color-contact {
    background-color:#EDE6DE;
} */

.bg-color-navbar {
    background-color:#EDE6DE
}

.ui-menu-color-form {
    background-color:#F4ECE6;
}

.ui-menu-color-button {
    background-color:#854A14;
}

.bg-color-footer {
    background-color:#D1C7B8;
}

/* .bg-color-modal {
    background-color: #FCE9DF;
}  */
/* --------------------------------- Title About Colors */

.bg-color-name-title {
    background-color:#F4ECE6;
}

#about {
    background-color: #fefefe;

}

#circle-container {
    border-color: #4A3729;

}

/* --------------------------------- Appoint Form Contact Tab Colors */

.bg-color-contact-heading-container {
    background-color: #EDE6DE;

 }


 .bg-color-appoint {
    background-color: #f3ECE4;
 }

 /*-------------------------------- Why Choose Section */
/*
 .bg-color-why {
    background-color: black;

 }

.container-why {
    background-color: #F4ECE6;
} */

/* ---------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;

}

.inline-block {
display: inline-block;
}

/* .row-table {
    display: table;
} */


/* ---------------------------------TopNav */

 .topnav {
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;

}

.topnav ul {
    text-align: center;
    list-style-type: none;

}

.topnav li a {
    align-content: center;
    color: #854A14;
    text-decoration: none;

}


.topnav-text-end a {
    padding-left: 5px;
    color: #854A14;
    align-items: flex-end;

}

.topnav-start i {
    color: #854A14;

}

/* ---------------------------------TopNav Button */

/* button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 10px;
    color: #DBD4CC;
    background-color: #854A14;
    border: none;

}  */
/* ---------------------------------Navbar */

.main-logo {
    background: url("../images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 250px;
    margin-top: 1%;
    margin-bottom: 1%;
    
}





/* ---------------------------------Navbar */

/* .navbar {
    margin: 0;
    color: #4A3729;
    font-size: medium;
    font-weight: 500;
    font-family: Merriweather, sans-serif;

}

.navbar-toggler {
    color: #4A3729;
    font-size: 12px;
    font-style: bold;
    font-weight: 700;
    font-family: Merriweather, sans-serif;

}

.navbar {
    padding-top: 0;
    text-align: center;
    font-style: italic;
}

.main-logo {
    background: url("../images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
    margin-top: 1%;
    margin-bottom: 1%;
    min-height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.nav-item li {

} */

/* ---------------------------------Heading

.header {
    margin: 0;

}

.heading {
    padding-top: 0;
    text-align: center;
    font-style: italic;
}


/* ---------------------------------Button */

/* .button[type="submit"] {
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 20px;
    color: #DBD4CC;
    background-color: #854A14;
    border: none;
} */


/* ---------------------------------Name title */
.name {
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-top: 25px;
    text-align: center;
    color: #854A14;

}

.details {
    font-size: large;
    text-align: center;
    padding-top: 12px;

}


.title {
    font-family: Merriweather, sans-serif;;
    font-weight: 600;
    font-size: 65px;
    margin-top: 40px;
    margin-bottom: 70px;
    color: #854A14;
    text-align: center;

}

.list-inline-item:not(:last-child) {
    margin-bottom: 2px;

}

.menucontainer {
    font-size: 0;
    padding-left: 2px;
    padding-right: 2px;

}

#nav {
    margin: 2%;
    align-items: right;
}

#nav li {
    font-size: 12px;
    padding: 5px;
    margin: 0;
}

.menuitem {
  height: 120px;
  text-align: center;
  padding: 5px;

}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #854A14;
    height: 120px;
}

.menuitem a i {
    padding-top: 28px;
    display: contents;
    color: #854A14;
    font-size: 26px;
    line-height: 2;
}

.menuitem span {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;

}

.btn-default span {
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;

}

.quote {
    text-align: center;
    font-family: Merriweather, sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #854A14;
    padding-top: 4px;
    padding-bottom: 10px;
    margin-bottom: 8px;

}

.paragraph-quote  {
    text-align: center;
    font-family: Merriweather, sans-serif;
    font-size: medium;
    font-weight: 400;
    color: #854A14;
    padding-top: 10px;
    padding-bottom: 10px;

}


/* ---------------------------------Hover.css */

.hvr-sweep-to-bottom::before {
background:rgb(157, 103, 21, 0.2);
height: 120px;
}

/* ---------------------------------Hover.css */

/* .hvr-sweep-to-bottom::before {
    background:rgb(157, 103, 21, 0.2);
    height: 90px;
    } */

/* ---------------------------------Footer */

.container-footer {
    background-size: cover;
    width: 100%;
    min-height: 120px;

}

/* .footer-general-sub {
    padding-top: 5px;
    font-family: Merriweather, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #854A14;

} */


.footer-logo {
    background: url("../images/footerlogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-top: 30px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.footer-section-name {
    font-family: Merriweather, sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-top: 1%;
    color: #854A14;

}


.footer-p {
    font-size: 14px;
    text-align: center;

}



.footer-section-heading {
    font-family: Merriweather, sans-serif;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    color: #854A14;
    padding-bottom: 1.5rem;
    align-content: space-between;
}


.footer-info-item {
    background-size: 100%;
    text-align: left;
    align-content: space-between;
    align-items: flex-start;
    clear: both;
    font-family: Merriweather, sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #854A14;
    width: 100%;
    margin-right: 5px;

}

.footer-info-item-heading {
    font-family: Merriweather, sans-serif;
    font-weight: 200;
    text-align: left;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.footer i {
    display: contents;
    color: green;
    font-size: 20px;
    padding-top: 28px;
    padding-bottom: 1.5rem;
    margin-top: 10px;


}

.links {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: red;
    background: #D1C7B8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.footer ul {
    text-align: left;

}



/*
.download i,
.social-links {
    padding-bottom: 25px;


}



.forms-pdf a i,
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #854A14;
    background: #F4ECE6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

/* .download i, */
/* .forms-pdf a i,
.social-links li a i:hover {
    background: #C18963;

} */ */


/* ---------------------------------Contact Form */

.contact-heading-container {
    background-size: cover;
    text-align: center;
    margin-left: 40px;

}

.contact-heading-container {
    font-family: Merriweather, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #854A14;

}

.contact-heading-container h2, h3,
.contact-heading-container h4 {
    margin-top: 0;
    text-align: center;
    align-content: space-between;
}

.contact-heading-container h1 {
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #4A3729;
    text-align: right;

}

.contact-heading-container h3 {
    font-family: Merriweather, sans-serif;
    font-weight: 400;
    font-size: 28px;
    font-style: italic;
    color: #4A3729;

}

.contact-heading-container h4 {
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #4A3729;

}

.image-container {
margin: 0;

}

#care {
    background: url("../images/care.jpg") no-repeat center center;
    height: 120vh;
    width: cover;
    overflow: hidden;
    opacity: 0.5;

}



.menucontainer-contact {
    font-size: 0;
    padding-left: 0;
    padding-right: 2px;
    margin-left: 35%;
    margin-top: 5px;

}

#nav-menucontainer-contact {
    align-content: center;

}

.list-inline-item {
    margin: 5%;
    align-items: right;

}

#list-inline-item ul {
    font-size: 12px;
    padding: 12px;
    margin-top: 0;

}

#list-inline-item li {
    font-size: 12px;
    padding: 12px;
    margin: 0;

}

.contact-menuitem {
    height: 90px;
    text-align: center;
    align-content: left;
    padding: 5px;

  }

  .contact-menuitem a {
      width: 100%;
      text-decoration: none;
      color: #854A14;
      height: 80px;
  }


  .contact-menuitem span {
      display: right;
      width: 100%;
      padding-top: 5px;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;

  }



/*---------------------------------Hover.css Contact Page */

.hvr-sweep-to-bottom::before {
    background:rgb(157, 103, 21, 0.2);
    height: 80px;
    }


    /*---------------------------------Submit Appoint Form */

.submit-form {
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 5%;
    height: 100%;
    width: 60%;


}

.address-menuitem p {
    margin: 0;
    font-family: Lato, sans-serif;
    font-weight: 500;
    color: #4A3729;

}

.container-hours {
    padding-top: 35%;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;
    height: 60%;

}



button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #DBD4CC;
    border-color: #4A3729;
    background-color: rgba(98, 68, 4, 0.906);

}




/* ---------------------------------Media Queries */

@media(min-width: 992px) {
    .centre-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }

}

/* ---------------------------------About Section */

#about {
    height: 750px;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;

}

#about h1 {
    font-size: 50px;
    font-family: "Lato sans-serif";
    text-align: center;
    padding: 10px 0;
    color: #4A3729;

}

#left-about {
    padding-top: 50px;
    width: 23%;
    float: left;
}

#right-about {
    padding-top: 40px;
    width: 23%;
    float: right;
  }

#center-about {
    width: 50%;
    margin: 0 auto;

  }


.left-about-heading {
    float: right;
    width: 90%;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;

}

.left-about-heading h2 {
    text-align: left;
    color: #4A3729;

}

.left-about-heading p {
    text-align: left;
    color: #854A14;

}

.right-about-heading {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;

}

.right-about-heading h2 {
    text-align: right;
    color: #4A3729;

}

.right-about-heading p {
    text-align: right;
    color: #854A14;

}

#circle-container {
    width: 620px;
    height: 620px;
    padding: 14px;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg {
    background: url("../images/drjani.jpg") no-repeat center center;
    height: 100%;
    width: 100%;
    border-radius: 50%;

}


@media screen and (max-width: 1393px) {
    #about {
        width: 65%;
        height: 1200px;
        margin: 0 auto;

    }


#intro {
    padding: 30px 0;
    margin-top: 0;

}

#left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;

}

.left-about-heading,
.right-about-heading h2 {
    width: inherit;

}

.left-about-heading, .right-about-heading p {
    width: 100%;
    float: left;
    padding: 0;

}

#centre-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}

#circle-container {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}

#circle-container-bg {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}

}

/* ---------------------------------Chiropractics */

.container-chiro {
    margin: 0;
    padding: 0;

}


.adjust-cover-bg {
    size: cover;
    width: 100%;

}


.container-chiro {
    size: cover;
    height: 180vh;
    width: cover;

}


#adjustment {
background: url("../images/adjustment.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
width: 100%;


}


.container-chiro h4 {
    padding-top: 10px;
    text-align: center;
    font-size: 28px;
    font-family: Merriweather, sans-serif;
    font-weight: 400;
    color: #FCE9DF;

 }

 .container-chiro h5 {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    color: #FCE9DF;
 }


 .container-chiro h2 {
    margin-top: 18px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    color: #FCE9DF;

}
.container-chiro {
    color: #FCE9DF;

}

.container-chiro h6 {
    margin-top: 2px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 20px;
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    color: #FCE9DF;
 }

 .container-chiro p {
    margin-top: 2px;
    margin-bottom: 4px;
    text-align: left;
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    color: #FCE9DF;
 }



.btn-default {
    background-color: #FCE9DF;
 }

.modal {
  color: #854A14;
}


.modal-header h6 {
    color: #854A14;
}


 /*-------------------------------- Why Choose Section */


 .container-bg{
    background-color: #000000;
 }

 .container-bg-2 {
    background-color: #ffffff;
 }

 .bg-color-why {
    background-color: #E9D5CA;

}

.container-bg {
padding: 3%;
margin-bottom: 5%;
}

.container-bg-2 {
    padding: 2%;
}

.container-why {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
}

.card {
    margin:3%;
    background-color: #E9D5CA;
   
}

.card {
    border-style: hidden;
}
.text-bg-card-one {
    background-color: #4A3729;
   
   
}

.rounded-pill {
    align-content: center;
    
}

.rounded-pill-one {
    color: #DBD4CC;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    
}
 
.text-bg-card-two {
    background-color: #CCB0A2;

}

.rounded-pill-two {
    color:#854A14;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.text-bg-card-three {
    background-color: #BFBCB5;

}

.rounded-pill-three {
    color: #46433A;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.text-bg-card-four {
    background-color: #404040;

}

.rounded-pill-four {
    color: #DBD4CC;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.text-bg-card-five {
    background-color: #46433A;

}

.rounded-pill-five {
    color: #EADACB;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
 
}

.text-bg-card-six {
    background-color:#7F5443;

}

.rounded-pill-six {
    color: #f3ECE4;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.text-bg-card-seven {
    background-color: #f3ECE4;
}

.rounded-pill-seven {
    color: #7F5443;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.text-bg-card-eight {
    background-color: #FCE6D6;

}

.rounded-pill-eight {
    color: #854A14;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    
}
.text-bg-card-nine {
    background-color:#544133;

}

.rounded-pill-nine {
    color: #FCE9DF;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    
}

.text-bg-card-ten {
    background-color:#BFBCB5;

}

.rounded-pill-ten {
    color: #4A3729;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.text-bg-color {
    background-color:#46433A;

} 


 .container-why h4 {
    word-spacing: 10px;
    letter-spacing: 3px;
    color: #211914;
    font-family: merriweather, sans-serif;
    font-size: 28px;
    padding-top: 5px;

 }


 .container-why h5 {
    color: #211914;
    font-family: lato, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    padding-bottom: 5px;
 }


 .container-why h6 {
    color:#211914;
    font-family: lato, sans-serif;
    font-size: 22px;
    letter-spacing: 3px;
 }



 .rounded-pill-1 span {
    color: #E9D5CA;
    font-family: lato, sans-serif;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;

 }
 .quote {
    background-color: #f3ECE4;
 }

 .quote {
    color: #7F5443;
    text-align: center;
    font-family: lato, sans-serif;
    font-size: 22px;
    font-weight: 700; 
    font-style: italic;
    letter-spacing: 1px;
    padding-top: 1%;
    padding-bottom: 1%;
  
 }

 .quote p{
    color: #754E3E;
    text-align: right;
    font-family: lato, sans-serif;
    font-size: 22px;
    font-weight: 700; 
    font-style: italic;
    letter-spacing: px;
    padding-right: 5%;
    padding-bottom: 0%;
  
 }



 












 /* .bg-color-container-reason-why {
    background-color: red;
 }


 .container-reason-why {
    padding: 10%;


 }

.btn-default {
background-color: #4A3729;
border-color: #FCE9DF;

border-radius: 15%, 50%;

}
 .ui-why-one {
    align-content: center;
    text-align: center;
    background-color: purple;

    border-radius: 15%, 50%;
 }

 .ui-why-two {
    align-content: center;
    text-align: center;
    background-color: yellow;
 }

 .ui-why-three {
    align-content: center;
    text-align: center;
    background-color: powderblue;
}

.ui-why-four {
    align-content: center;
    text-align: center;
    background-color: blanchedalmond;
}

.ui-why-five {

}


.ui-why-six {

}

.ui-why-seven {

} */


 /*-------------------------------- Gallery Why Section */

.container-whygallery-bg {
    background-color: #FCE9DF;
}

.container-whygallery-bg {
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
  
}

.container-whygal-bg {
    background-color: #000000;
}

.container-whygal-bg {
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10%;
}


.bg-color-gal-container {
    background-color: #CCB0A2;
  
} 
  
.bg-color-gal-container {
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;
}

.container-why-image {
    background: url("../images/whygalbg.jpg") no-repeat center center;
    background-size: 100%;
    height: 100vh;
     
}

.bg-greet-grid {
    background: url("../images/greet.jpg") no-repeat center center;
    background-size: cover;
    height: 450px;

} 
  

.bg-greet-grid {
    width: 400px;
    height: 400px;
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: #46433A;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;

}



.bgfun-grid {
    background: url("../images/janfun.jpg") no-repeat center center;
    background-size: cover;
    height: 450px;

} 


#janfun {
    height: 100%;
    width: 100%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;

} 


.bgfun-grid {
    width: 400px;
    height: 400px;
    float: right;
    border-style: solid;
    border-width: 3px;
    border-color: #46433A;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;

} 









      
/* .bg-greet-container {
    align-content: space-around;
} */

/*     
#bglogo {
    background: url("../images/bglogo.png") no-repeat left;
    height: 450px;

} 



#bglogo-grid {
    height: 100%;
    width: 100%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;

} 

.bglogo-grid {
    width: 400px;
    height: 400px;
    float: center;
    border-style: solid;
    border-width: 3px;
    border-color: #46433A;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;

} 

.bglogo-grid {
    background-color: #fefefe;
} 

.bgimage-container,
.bglogo-grid {
    padding-top: ;
    
} */



    

/* 
#left-about {
    padding-top: 50px;
    width: 23%;
    float: left;
}

#right-about {
    padding-top: 40px;
    width: 23%;
    float: right;
  }

#center-about {
    width: 50%;
    margin: 0 auto;

  } */















